[Unit]
Description=Wii fit board monitoring service that transmits data to home assistant
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/home/dmitry/wiiscale/hadiscoverablewiifitboard
WorkingDirectory=/home/dmitry/wiiscale
Restart=always
RestartSec=5
